@include button-ui(
    $ui: 'bright-blue',
    $color: #fff,
    $icon-color: #fff,
    $background-color: #03a9f5,
    $border-width: 0
);

.auth-locked-body-el {
    background-image: url('images/fondo-login.jpg');
    background-size: cover;

    .x-panel-body-el.auth-locked-body-el {
        background-color: transparent;
    }
}
