/*
 *  This file can be used to set variables and supply global styling.  View specific 
 *  styling should be located the view's corresponding scss file.
 */
$enable-font-awesome: dynamic(true);

// iOS native app status bar does not take up space, so we need to pad out the application by 20px
// in order to bring the app below it.
body.x-ios.x-webview.x-portrait {
  margin-top: 20px;
}

@mixin list-item-title() {
  font-weight: 600;
  line-height: 20px;
}

@include button-ui(
  $ui: 'bright-blue',
  $color: #fff,
  $icon-color: #fff,
  $background-color: #03a9f5,
  $border-width: 0
);

@include button-ui(
  $ui: 'round',
  $border-radius: 50%,
  $border-radius-big: 50%
);

@include button-ui(
  $ui: 'header',
  // $color: #999,
  // $icon-color: #999,
  $color: #fff,
  $icon-color: #fff,
  $background-color: transparent,
  $border-width: 0
);

@include button-ui(
  $ui: 'blue',
  $color: #fff,
  $icon-color: #fff,
  $background-color: #167abc,
  $border-width: 0
);

@include button-ui(
  $ui: 'facebook',
  $color: #fff,
  $icon-color: #fff,
  $background-color: $social-facebook-btn-background,
  $border-color: darken($social-facebook-btn-background, 5%)
);

@include button-ui(
  $ui: 'gray-button',
  $color: #fff,
  $icon-color: #fff,
  $background-color: #a7a7a7,
  $border-width: 0
);

@include button-ui(
  $ui: 'soft-blue',
  $color: #fff,
  $icon-color: #fff,
  $background-color: $color-soft-blue,
  $border-color: darken($color-soft-blue, 5%)
);

@include button-ui(
  $ui: 'soft-cyan',
  $color: #fff,
  $icon-color: #fff,
  $background-color: $color-soft-cyan,
  $border-color: darken($color-soft-cyan, 5%)
);

@include button-ui(
  $ui: 'soft-green',
  $color: #fff,
  $icon-color: #fff,
  $pressed-color: #fff,
  $background-color: $color-soft-green,
  $border-color: darken($color-soft-green, 5%)
);

@include button-ui(
  $ui: 'soft-purple',
  $color: #fff,
  $icon-color: #fff,
  $background-color: $color-soft-purple,
  $border-color: darken($color-soft-purple, 5%)
);

@include button-ui(
  $ui: 'soft-red',
  $color: #fff,
  $icon-color: #fff,
  $background-color: $color-soft-red,
  $border-color: darken($color-soft-red, 5%)
);

@include button-ui(
  $ui: 'acciones',
  $color: $color-soft-red,
  $icon-color: $color-soft-red,
  $background-color: transparent,
  $border-color: darken($color-soft-gray, 5%),
  $font-size: 18px
);

@include button-ui(
  $ui: 'toolbar-inferior-btn',
  $color: $color-soft-red,
  $icon-color: $color-soft-red,
  $background-color: transparent,
  $border-color: darken($color-soft-gray, 5%),
  $font-size: 10px !important,
  $icon-size: 20px
);

@include toolbar-ui(
  $ui: 'toolbar-inferior',
  $border-color: #000000 !important,
  $border-width: 1px 0 0 0 !important
);

@include toolbar-ui(
  $ui: 'toolbar-principal',
  $background-color: #ec6273
);

@include toolbar-ui(
  $ui: 'toolbar-secundaria',
  $background-color: #00b8b8
);

@include titlebar-ui(
  $ui: 'titlebar-superior',
  $background-color: #ec6273
);

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
};

.x-big .x-button-header .x-icon-el {
  font-size: 18px;
  font-weight: normal;
}

// sass de las distintas vistas a implementar por fuera de este proyecto
// view DASHBOARD
$dashboard-item-spacing: dynamic(20px);

// .dashboard > .x-body-el {
//     padding: $dashboard-item-spacing 0 0 $dashboard-item-spacing;
// }

// .dashboard-item {
//     margin: 0 $dashboard-item-spacing $dashboard-item-spacing 0;
//     float: left;
//     width: calc(100% - #{$dashboard-item-spacing});

//     &.last-in-row {
//         margin-right: 0;
//     }
// }

@include panel-ui(
  $ui: 'panel-dashboard-mensajes',
  $header-background-color: $color-green-teal,
  $header-line-height: 40px
);

.small-100 {
    width: calc(100% - #{$dashboard-item-spacing});
}

.small-60 {
    width: calc(60% - #{$dashboard-item-spacing});
}

.small-50 {
    width: calc(50% - #{$dashboard-item-spacing});
}

.small-40 {
    width: calc(40% - #{$dashboard-item-spacing});
}

.small-20 {
    width: calc(20% - #{$dashboard-item-spacing});
}

@media (min-width: 1000px) {
    .big-100 {
        width: calc(100% - #{$dashboard-item-spacing});
    }

    .big-60 {
        width: calc(60% - #{$dashboard-item-spacing});
    }

    .big-50 {
        width: calc(50% - #{$dashboard-item-spacing});
    }

    .big-40 {
        width: calc(40% - #{$dashboard-item-spacing});
    }

    .big-33 {
        width: calc(33.3% - #{$dashboard-item-spacing});
    }

    .big-20 {
        width: calc(20% - #{$dashboard-item-spacing});
    }
}

.status-tile {
  background-color: #fff;
  border: 3px solid transparent;
  position: relative;
  text-align: center;
}

.status-tile-wrap {
  position: relative;
  top: 50%;
  @include transform(translateY(-50%));

  .status-tile-large > & {
      font-size: 150%;
  }
}

.status-tile-quantity {
  font-size: 250%;
  font-weight: 500;
  line-height: 30px;
}

.status-tile-icon-wrap {
  font-size: 180%;
}

.status-tile-icon-wrap,
.status-tile-icon {
  display: inline-block;
}

.status-tile-icon-first .status-tile-icon-wrap {
  width: 2.4em;
  height: 2.4em;
  line-height: 2.4em;
  color: #fff;
  border-radius: 50%;
  margin-bottom: 10px;
}

.mensajes-grid {
  .x-big .x-titlebar-body-el {
    min-height: 42px;
  }
}

// view PACIENTE
.listaPacientes-dataview {
  .imgPaciente {
      display: inline-block;
      width: 100px;
      height: 100px;
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: 50%;
      float: left;
      border-radius: 5px;
  }

  .listaMovil {
      overflow: hidden;
      padding: 20px;
      border-bottom: 1px solid $border-color;
      vertical-align: top;
      // padding: 30px 0px 0px 20px;
      // box-shadow: 0 10px 10px -10px #8c8b8b inset;
  }

  .margenImagen {
      margin-left: 110px;
  }

  .listaMovil > .titulo {
      font-size: 18px;
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
  }

  .listaMovil > .titulo1 {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .listaMovil > .normal {
      color: #adadad;
      font-size: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
  }

  .listaMovil .mapa {
      color: red;
  }    

  .listaMovil .activo {
      color: #2196F3;
      font-size: 20px;
  }  

  .listaMovil .apagado {
      color: #8c8b8b;
      font-size: 20px;
  }     

  .listaMensajes {
    overflow: hidden;
    padding: 20px;
    border-bottom: 1px solid $border-color;
    vertical-align: top;
    // width: 100%;
    width: -webkit-fill-available;
  }

  .listaMensajes tbody tr td > .titulo1 {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .listaMensajes tbody tr td > .normal {
    color: #adadad;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.pacienteInfo-container {
  .pacienteInfoImagen {
    border: 4px solid $base-border-color;
    @include border-radius($circle-border-radius);
  }

  .pacienteInfoNombre {
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    color: $color;
  }

  .pacienteInfoPE {
    color: $color;
    line-height: 16px;
  }

  .box {
    margin-left: 40px;
    line-height: 20px;
    font-size: 14px;
    margin-top: 7px;
    margin-bottom: 7px;

    &:before {
      margin-left: -20px;
      color: $color-soft-red;
      position: absolute;
    }
  }
}

.listaMail-dataview {

}
// ------------------------------------------------------------------------------------------------------------------------------------------------